@import url('https://fonts.googleapis.com/css?family=Lato|Do+Hyeon|Noto+Serif+KR');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  border-color: inherit;
  box-sizing: inherit;
  color: inherit;
}

h1 {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, input {
  all: unset;
}

.App {
  min-width: 700px;
  min-height: 100vh;
  padding: 10px;

  &__title {
    padding: 10px 0;
    font-family: 'Do Hyeon', sans-serif;
    letter-spacing: 2px;
    color: pink;
  }

  span {
    cursor: pointer;
  }
}
