@import url('https://fonts.googleapis.com/css?family=Lato|Do+Hyeon|Noto+Serif+KR');

html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-color: inherit;
  color: inherit;
}

h1 {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a, input {
  all: unset;
}

.App {
  padding: 10px;
  min-width: 700px;
  min-height: 100vh;
}

.App__title {
  padding: 10px 0;
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 2px;
  color: pink;

  span {
    cursor: pointer;
  }
}
